
.current
{
    display: block;
    color: red;
    background-image: url(//s.wlfcdn.com/giftcards/cms_proper/CMS-376/v1/dashboard-sprite.png);
    background-position: -385px 0;
    width: 166px !important;
    height: 38px !important;
    padding: 0 !important;
    margin: 18px 3px 0 0 !important;
    cursor: pointer
}

.current ul
{
    margin: 0 0 0 9px;
    padding: 0;
    border: 1px solid #9eb5c4;
    width: 152px;
    background-color: #2c8bb7;
}

.current ul li
{
    padding: 0;
    margin: 0;
    font-size: 11px;
    width: 152px;
    height: 25px;
    border-bottom: 1px solid #88cff0;
    background-color: #2c8bb7;
}

.current ul li a
{
    padding: 0;
    margin: 0;
    display: block;
    width: 152px;
    height: 25px;
    line-height: 25px;
    color: #FFF;
    text-decoration: none;
    text-indent: 13px
}

.current ul li a:hover
{
    color: #d3f0fe;
    display: block;
    width: 152px;
    background-color: #3ba4d5;
    padding: 0;
    margin: 0
}

.member-portlet
{
    padding: 0;
    margin: 0;
    border-left: 3px solid #e7e7e7 !important;
    border-right: 3px solid #e7e7e7;
    margin-left: auto;
    margin-right: auto;
    width: 446px
}

.member-portlet th {
    line-height: normal;
}

.member-portlet-column
{
    float: left;
    padding: 0;
    margin: 0;
    width: 468px;
}

.member-portlet-column-rght
{
    width: 469px;
    float: right;
    padding: 0;
    margin: 0 2px 0 0;
    background-color: #00080f;
}

.member-portlet-column-bot
{
    background-image: url(//s.wlfcdn.com/giftcards/cms_proper/CMS-376/v1/dashboard-sprite.png);
    background-position: 0 -387px;
    width: 469px;
    height: 15px;
    float: right;
    padding: 0;
    margin: 0 2px 10px 0;
    background-color: #00080f;
    clear: right
}

.member-commission
{
    background-image: url(//s.wlfcdn.com/giftcards/cms_proper/CMS-376/v1/dashboard-sprite.png);
    background-position: 0 -81px;
    width: 469px;
    height: 133px;
    padding: 0;
    margin: 0;
}

.member-commission h2
{
    color: #d3ff96;
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
    text-align: center
}

.member-popular
{
    background-image: url(//s.wlfcdn.com/giftcards/cms_proper/CMS-376/v1/dashboard-sprite.png);
    background-position: 0 -221px;
    width: 452px;
    height: 50px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.member-popular h2
{
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 54px;
    text-indent: 20px
}

.member-orders
{
    background-image: url(//s.wlfcdn.com/giftcards/cms_proper/CMS-376/v1/dashboard-sprite.png);
    background-position: 0 -285px;
    width: 452px;
    height: 50px;
    padding: 0;
    margin: 10px 0 0 0;
    margin-left: auto;
    margin-right: auto;
}

.member-orders h2
{
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 54px;
    text-indent: 20px
}

.member-orders-box
{
    padding: 0;
    margin: 0;
    background-color: #FFF;
    width: 446px;
}

.member-orders-box tr th
{
    background-image: url(//s.wlfcdn.com/giftcards/cms_proper/CMS-376/v1/member-orders-header.png);
    background-repeat: repeat-x;
    height: 30px;
    padding: 0 2px 0 3px;
    margin: 0;
    font-size: 11px;
    font-weight: normal;
    border-right: 1px solid #FFF;
    color: #002b44
}

.member-orders-box tr td
{
    background-image: url(//s.wlfcdn.com/giftcards/cms_proper/CMS-376/v1/member-orders-row.png);
    background-repeat: repeat-x;
    background-position: top;
    background-color: #e5edf3;
    padding: 0;
    margin: 0;
    font-size: 11px;
    border-right: 1px solid #FFF;
    padding: 0 0 0 3px;
    border-bottom: 1px solid #d1e4f3;
    text-align: left;
    height: 25px
}

.member-pop-box
{
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    width: 446px;
}

.member-pop-box tr th
{
    background-image: url(//s.wlfcdn.com/giftcards/cms_proper/CMS-376/v1/member-popular-header.png);
    background-repeat: repeat-x;
    height: 30px;
    padding: 0 2px 0 3px;
    margin: 0;
    font-size: 11px;
    font-weight: normal;
    border-right: 1px solid #FFF;
    text-indent: 10px;
    color: #163811
}

.member-pop-box tr td
{
    background-image: url(//s.wlfcdn.com/giftcards/cms_proper/CMS-376/v1/member-popular-row.png);
    background-repeat: repeat-x;
    background-position: top;
    background-color: #e5edf3;
    padding: 0;
    margin: 0;
    font-size: 11px;
    border-right: 1px solid #FFF;
    padding: 0 0 0 3px;
    border-bottom: 1px solid #d1e4f3;
    text-align: left;
    text-indent: 10px;
    height: 25px
}

.member-alert-row
{
    color: #2991d1;
    text-indent: 10px;
    height: 30px !important;
    font-size: 12px !important
}

.member-alerts
{
    background-image: url(//s.wlfcdn.com/giftcards/cms_proper/CMS-376/v1/dashboard-sprite.png);
    background-position: 0 -335px;
    width: 452px;
    height: 50px;
    padding: 0;
    margin: 10px 0 0 0;
    margin-left: auto;
    margin-right: auto;
}

.member-alerts h2
{
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    line-height: 54px;
    text-indent: 65px
}

.member-bot
{
    background-image: url(//s.wlfcdn.com/giftcards/cms_proper/CMS-376/v1/dashboard-sprite.png);
    background-position: 0 -271px;
    width: 452px;
    height: 14px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}